<th:block th:fragment="header"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
          xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-dark rounded re-color">
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <th:block sec:authorize="isAnonymous()">
            <a class="navbar-brand ml-3" th:href="@{__${T(org.softuni.residentevil.config.WebConfig).URL_INDEX}__}"
               th:text="#{nav-bar.title}"/>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ml-3">
                        <a class="nav-link active"
                           th:href="@{__${T(org.softuni.residentevil.config.WebConfig).URL_INDEX}__}"
                           th:text="#{nav-bar.index}"/>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link active"
                           th:href="@{__${T(org.softuni.residentevil.config.WebConfig).URL_USER_REGISTER}__}"
                           th:text="#{nav-bar.register}"/>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link active"
                           th:href="@{__${T(org.softuni.residentevil.config.WebConfig).URL_USER_LOGIN}__}"
                           th:text="#{nav-bar.login}"/>
                    </li>
                </ul>
            </div>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <a class="navbar-brand ml-3" th:href="@{__${T(org.softuni.residentevil.config.WebConfig).URL_USER_HOME}__}"
               th:text="#{nav-bar.title}"/>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ml-3">
                        <a class="nav-link active"
                           th:href="@{__${T(org.softuni.residentevil.config.WebConfig).URL_USER_HOME}__}"
                           th:text="#{nav-bar.home}"/>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link active"
                           th:href="@{__${T(org.softuni.residentevil.config.WebConfig).URL_ALL}__}"
                           th:text="#{nav-bar.all}"/>
                    </li>
                    <li class="nav-item dropdown ml-3">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link active dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="navbarDropdown" role="button" th:text="#{nav-bar.viruses}"/>
                        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <a class="dropdown-item"
                               th:href="@{__${T(org.softuni.residentevil.config.WebConfig).URL_VIRUS_ALL}__}"
                               th:text="#{nav-bar.viruses.show}"/>
                            <a class="dropdown-item"
                               th:href="@{__${T(org.softuni.residentevil.config.WebConfig).URL_VIRUS_ADD}__}"
                               th:text="#{nav-bar.viruses.add}"/>
                        </div>
                    </li>
                    <li class="nav-item ml-3 active">
                        <form class="nav-link active"
                              th:action="@{__${T(org.softuni.residentevil.config.WebConfig).URL_USER_LOGOUT}__}"
                              th:method="post">
                            <button class="logout-button re-color"
                                    th:text="#{nav-bar.logout}"
                                    type="submit"/>
                        </form>
                    </li>
                </ul>
            </div>
        </th:block>
    </nav>
</th:block>
