<th:block th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <title th:text="#{application.title}"/>
    <link rel="stylesheet" th:href="@{/css/reset.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-4.3.1.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</th:block>
