<th:block th:fragment="virusAddEditForm (action, title, readonly)"
          xmlns:th="http://www.thymeleaf.org">
    <form class="mt-5 center-block w-75 mx-auto"
          method="POST"
          th:action="${action}"
          th:object="${virus}">

        <h2 class="header mt-4 mb-4" th:text="${title}"/>

        <div class="form-group">
            <label th:for="${#ids.next('name')}" th:text="#{viruses.add.name}"></label>
            <input class="form-control" th:classappend="${#fields.hasErrors('name')}? re-error-border"
                   th:field="*{name}"
                   type="text"/>
            <small class="re-error" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"/>
        </div>

        <div class="form-group">
            <label th:for="${#ids.next('description')}" th:text="#{viruses.add.description}"/>
            <textarea class="form-control noresize" rows="2"
                      th:classappend="${#fields.hasErrors('description')}? re-error-border"
                      th:field="*{description}"
                      type="text"/>
            <small class="re-error" th:errors="*{description}" th:if="${#fields.hasErrors('description')}"/>
        </div>

        <div class="form-group">
            <label th:for="${#ids.next('sideEffects')}" th:text="#{viruses.add.side-effect}"/>
            <input class="form-control" th:classappend="${#fields.hasErrors('sideEffects')}? re-error-border"
                   th:field="*{sideEffects}"
                   type="text"/>
            <small class="re-error" th:errors="*{sideEffects}" th:if="${#fields.hasErrors('sideEffects')}"/>
        </div>

        <div class="form-group">
            <label th:for="${#ids.next('creator')}" th:text="#{viruses.add.creator}"/>
            <input class="form-control" th:classappend="${#fields.hasErrors('creator')}? re-error-border"
                   th:field="*{creator}"
                   type="text"/>
            <small class="re-error" th:errors="*{creator}" th:if="${#fields.hasErrors('creator')}"/>
        </div>

        <div class="checkbox">
            <input th:field="*{isDeadly}" type="checkbox"/>
            <label th:for="${#ids.prev('isDeadly')}" th:text="#{viruses.add.deadly}"/>
        </div>

        <div class="checkbox mb-2">
            <input th:field="*{isCurable}" type="checkbox"/>
            <label th:for="${#ids.prev('isCurable')}" th:text="#{viruses.add.curable}"/>
        </div>

        <th:block th:each="mutation : ${T(org.softuni.residentevil.domain.enums.Mutation).values()}">
            <div class="radio">
                <input th:field="*{mutation}" th:value="${mutation}" type="radio"/>
                <label class="purple"
                       th:classappend="${#fields.hasErrors('mutation')}? re-error"
                       th:for="${#ids.prev('mutation')}" th:text="${mutation}"/>
            </div>
        </th:block>
        <div class="radio disabled">
            <input disabled th:field="*{mutation}" th:value="#{viruses.add.mutation-save-humanity}" type="radio"/>
            <label th:for="${#ids.prev('mutation')}" th:text="#{viruses.add.mutation-save-humanity}"/>
        </div>
        <small class="re-error" th:errors="*{mutation}" th:if="${#fields.hasErrors('mutation')}"/>

        <div class="form-group">
            <label th:for="${#ids.next('turnoverRate')}" th:text="#{viruses.add.turnover-rate}"></label>
            <input class="form-control" th:classappend="${#fields.hasErrors('turnoverRate')}? re-error-border"
                   th:field="*{turnoverRate}"
                   type="number"/>
            <small class="re-error" th:errors="*{turnoverRate}" th:if="${#fields.hasErrors('turnoverRate')}"/>
        </div>

        <div class="form-group">
            <label th:for="${#ids.next('hoursUntilMutation')}" th:text="#{viruses.add.hours-until-turn}"></label>
            <input class="form-control" th:classappend="${#fields.hasErrors('hoursUntilMutation')}? re-error-border"
                   th:field="*{hoursUntilMutation}"
                   type="number"/>
            <small class="re-error" th:errors="*{hoursUntilMutation}"
                   th:if="${#fields.hasErrors('hoursUntilMutation')}"/>
        </div>

        <div class="form-group">
            <label th:for="${#ids.next('magnitude')}" th:text="#{viruses.add.magnitude}"/>
            <select class="form-control"
                    th:classappend="${#fields.hasErrors('magnitude')}? re-error-border"
                    th:field="*{magnitude}">
                <option th:each="magnitude : ${T(org.softuni.residentevil.domain.enums.Magnitude).values()}"
                        th:text="${magnitude.label}"
                        th:value="${magnitude}"></option>
            </select>
            <small class="re-error" th:errors="*{magnitude}" th:if="${#fields.hasErrors('magnitude')}"/>
        </div>

        <div class="form-group">
            <label th:for="${#ids.next('releasedOn')}" th:text="#{viruses.add.released-on}"/>
            <input class="form-control" th:classappend="${#fields.hasErrors('releasedOn')}? re-error-border"
                   th:field="*{releasedOn}"
                   th:readonly="${!readonly.isEmpty()}" type="date">
            <small class="re-error" th:errors="*{releasedOn}" th:if="${#fields.hasErrors('releasedOn')}"/>
        </div>

        <div class="form-group">
            <label th:for="${#ids.next('capitals')}" th:text="#{viruses.add.capitals}"></label>
            <select class="form-control" multiple
                    th:classappend="${#fields.hasErrors('capitals')}? re-error-border"
                    th:field="*{capitals}">
                <option th:each="capital : ${capitals}"
                        th:text="${capital.name}"
                        th:value="${capital.id}"/>
            </select>
            <small class="re-error" th:errors="*{capitals}" th:if="${#fields.hasErrors('capitals')}"/>
        </div>

        <div class="form-actions mx-auto text-center">
            <button class="btn re-color my-button" th:text="#{viruses.add.submit}" type="submit"/>
        </div>
    </form>
</th:block>
