<th:block th:fragment="add-supplier-modal">
    <div class="modal fade" id="add-supplier-modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Supplier</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="add-supplier-form" class="form" th:action="@{/suppliers/add}" th:method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="add-supplier-name" class="font-weight-bold">Name</label>
                            <input type="text" class="form-control text-center" id="add-supplier-name" name="name"/>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="isImporter"
                                       id="add-supplier-importer"/>
                                <label class="form-check-label" for="add-supplier-importer">Is Importer</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="submit" class="btn btn-success" data-dismiss="modal"
                                onclick="$('#add-supplier-form').submit()">Add Supplier
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>