<th:block th:fragment="delete-car-modal">
    <div class="modal fade" th:id="|delete-car-modal-*{id}|">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="|*{make} *{model} - Delete|"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:id="|delete-car-form-*{id}|" class="form" th:action="@{'/cars/delete/' + *{id}}" th:method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="delete-car-make" class="font-weight-bold">Make</label>
                            <input type="text" class="form-control text-center" id="delete-car-make" name="make" th:value="*{make}" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="delete-car-model" class="font-weight-bold">Model</label>
                            <input type="text" class="form-control text-center" id="delete-car-model" name="model" th:value="*{model}" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="delete-car-travelled-distance" class="font-weight-bold" >Travelled Distance</label>
                            <input class="form-control" type="number" name="travelledDistance" id="delete-car-travelled-distance" th:value="*{travelledDistance}" disabled/>
                        </div>
                        <div class="form-group">
                            <label class="form-check-label" for="delete-car-parts">Parts</label>
                            <select id="delete-car-parts" class="selectpicker" name="parts" multiple>
                                <option disabled selected th:each="part : *{parts}" th:text="${part.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="submit" class="btn btn-danger" data-dismiss="modal"
                                th:onclick="javascript:$('#delete-car-form-' + [[*{id}]]).submit()">Delete
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>